/* Coolors Exported Palette - https://coolors.co/f47122-6633ff-33ccff-ffffff-1b1b1b */

/* CSS HEX */
--pumpkin: #f47122ff;
--electric-indigo: #6633ffff;
--vivid-sky-blue: #33ccffff;
--white: #ffffffff;
--eerie-black: #1b1b1bff;

/* CSS HSL */
--pumpkin: hsla(23, 91%, 55%, 1);
--electric-indigo: hsla(255, 100%, 60%, 1);
--vivid-sky-blue: hsla(195, 100%, 60%, 1);
--white: hsla(0, 0%, 100%, 1);
--eerie-black: hsla(0, 0%, 11%, 1);

/* SCSS HEX */
$pumpkin: #f47122ff;
$electric-indigo: #6633ffff;
$vivid-sky-blue: #33ccffff;
$white: #ffffffff;
$eerie-black: #1b1b1bff;

/* SCSS HSL */
$pumpkin: hsla(23, 91%, 55%, 1);
$electric-indigo: hsla(255, 100%, 60%, 1);
$vivid-sky-blue: hsla(195, 100%, 60%, 1);
$white: hsla(0, 0%, 100%, 1);
$eerie-black: hsla(0, 0%, 11%, 1);

/* SCSS RGB */
$pumpkin: rgba(244, 113, 34, 1);
$electric-indigo: rgba(102, 51, 255, 1);
$vivid-sky-blue: rgba(51, 204, 255, 1);
$white: rgba(255, 255, 255, 1);
$eerie-black: rgba(27, 27, 27, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f47122ff, #6633ffff, #33ccffff, #ffffffff, #1b1b1bff);
$gradient-right: linear-gradient(90deg, #f47122ff, #6633ffff, #33ccffff, #ffffffff, #1b1b1bff);
$gradient-bottom: linear-gradient(180deg, #f47122ff, #6633ffff, #33ccffff, #ffffffff, #1b1b1bff);
$gradient-left: linear-gradient(270deg, #f47122ff, #6633ffff, #33ccffff, #ffffffff, #1b1b1bff);
$gradient-top-right: linear-gradient(45deg, #f47122ff, #6633ffff, #33ccffff, #ffffffff, #1b1b1bff);
$gradient-bottom-right: linear-gradient(135deg, #f47122ff, #6633ffff, #33ccffff, #ffffffff, #1b1b1bff);
$gradient-top-left: linear-gradient(225deg, #f47122ff, #6633ffff, #33ccffff, #ffffffff, #1b1b1bff);
$gradient-bottom-left: linear-gradient(315deg, #f47122ff, #6633ffff, #33ccffff, #ffffffff, #1b1b1bff);
$gradient-radial: radial-gradient(#f47122ff, #6633ffff, #33ccffff, #ffffffff, #1b1b1bff);